.container {
  padding: 20px;
  background-color: #fda;
  border-radius: 10px;
  margin: 10px 20px;
}

.button_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.button:nth-child(2) {
  margin: 0 20px;
  // background-color: #09a;
}

.button {
  font-size: 14px;
}
