.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 20px;
  padding-bottom: 0;
}

.command_tag {
  margin-right: 20px;
  margin-top: 10px;
  // margin-bottom: 10px;
}

.command_tag_selected {
  // border: 4px solid #fcc;
  // border-color: blueviolet;
  background-color: #1677ff;
  color: #fff;
}

.command_tag:last-child {
  margin-right: 0;
}
