
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 20px;
}

.command_tag {
  margin-right: 20px;
}

.command_tag_selected {
  // border: 4px solid #fcc;
  border-color: blueviolet;
}

.command_tag:last-child {
  margin-right: 0;
}
