.root {
  display: flex;
  flex-direction: column;
}
.container {
  // display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.container:nth-child(1) {
  padding-bottom: 0px;
}

.command_tag {
  margin-right: 20px;
  margin-top: 10px;
  user-select: none;
  font-size: 14px;
  padding: 4px 10px;
  background-color: #fff;
  color: #222;
  // margin-bottom: 10px;
}

.command_tag_selected {
  // border: 4px solid #fcc;
  // border-color: blueviolet;
  background-color: #1677ff;
  color: #fff;
}

.command_tag:last-child {
  margin-right: 0;
}

.command_tag:hover {
  background-color: #fe4365;
  color: #fff;
}

.search_bar {
  width: 300px;
  margin: 0 20px;
  margin-bottom: 10px;
  border-width: 0;
}
