.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #000;
  overflow-y: scroll;
}

.title {
  color: #fff;
  padding: 0 20px;
  font-size: 28px;
  margin: 20px 0;
}

.result {
  color: #fff;
  padding: 0 20px;
  margin: 0;
}
